#AIT1{
  color:black;
  width:120px;
  height:120px;
  position:absolute;
  transform: translateX(19px) translateY(15px);
}
#AIT{
  color:black;
  position:absolute;
  transform: translateX(188px) translateY(40px);
  width:1292px;
  height:58px;
}